In [7]:
import shutil
import os
import glob

import pandas as pd
import numpy as np
from IPython.display import display, HTML
from config import CONFIG
from pathlib import Path

In [8]:
excel_path=Path(CONFIG["EXEL_PATH"])
coordenadas_path=Path(CONFIG["COORDENADAS_PATH"])
processed_data_pickle_path=Path(CONFIG["PROCESSED_DATA_PICKLE_PATH"])
images_renamed_by_date_dir=Path(CONFIG["IMAGES_RENAMED_BY_DATE_DIR"])
images_processed_dir=Path(CONFIG["IMAGES_PROCESSED_DIR"])

In [9]:
df=pd.read_pickle(processed_data_pickle_path)

In [10]:
df.head()

,id,tipo,descripcion,informacion-adicional,km,m,sentido,foto-number,foto-gps,observacion,observacion-detalles,observacion-gabinete,x,y,zona
0,1,,fin,,,,u,[1],[2],,,,189967,8229889,19
1,2,,alcantarilla,,,,u,"[3, 4, 5]",[6],,,,189968,8229891,19
2,3,,baden,,,,u,[7],[8],,,foto 7 repetida,190139,8227888,19
3,4,,alcantarilla,,,,u,"[9, 10, 11]",[12],,,,190105,8227713,19
4,5,,alcantarilla,,,,u,"[13, 14]",[15],,,,190092,8227457,19